<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="width:100%; display:flex; height: fit-content;"> -->

<div style="padding: 10px;border: 1px;border-style: ridge;width: fit-content;display: flex;">
    <div style="flex-grow: 1;width: fit-content">
        <img style="border-radius: 25%;vertical-align: top;" src="<%= image %>" alt="">
    </div>

    <div style="padding-left: 5px; vertical-align: top; flex-grow: 1;width: fit-content;">
        <div style="font-size: 25px;width: fit-content;">
            <%= user %>
        </div>
        <div style="width:fit-content;">
            <%= mail %>
        </div>
        <div style="width:fit-content;">
            Customer ID : <%= googleId %>
        </div>
    </div>
</div>
<!-- </body>

</html> -->